<%- include("partials/header"); %>

<h1 class="text-center mt-2">Rólunk</h1>
<p class="mx-4">Cégünk luxus sportjárművek bérlésével foglalkozik. Ezen az oldalon böngészheti és elindíthatja az önnek tetsző jármű bérlését. Cégünk a bérlés megindítását követően felveszi önnel a kapcsolatot és amennyiben ez lehetséges az ön által megadott időpontban rendelkezésre adjuk a kívánt járművet.</p>
<p class="mx-4">Járműveink biztosítását, eredetvizsgáját és forgalmi megfelelőségét cégünk garantálja!</p>

<%- include("partials/footer"); %>